
.nav-container {
    background-color: var(--Side-menu);
    width: var(--size) !important;
    position: fixed;
    border-right: 1px solid #8f919738 !important;
    height: 100vh;
    transform: translateX(-110%);
    animation-play-state: paused;
    z-index: 6;
    top: 0;
    left: 0;
    /* box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3); */
}

.menu-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 80px);
    /* background-color: #2970fd; */

}
