

.miniCards {
    width: 100%;
    min-width: 200px;
    /* margin: 0 auto; */
    /* background-color: #165ef0; */
    /* overflow: hidden; */
    /* height: 250px !important; */
    /* position: relative; */
}

.miniCards figure {
    /* background-color: aliceblue; */
    width: 100%;
    margin-bottom: 4px;
}

.miniCards figure img:hover {
    transform: scale(1.1);
    transition: var(--transition);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.miniCards figure img{
    height: 169px;
    border-radius: 15px;
    width: 100%;
}

.image-footer{
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #fff;
    /* font-weight: 500; */
    padding-top: 10px;
    
}
.image-footer p{
    margin: 0px;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}

.tag{
    display: flex;
    align-items: center;
    background-color: #26272a;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 7px;
}
.tag span{
    /* background-color: #26272a; */
    font-size: 14px;
    margin-right: 8px;
}