.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.title h4 {
    color: #ffffff;
    font-size: 20px;
}
.title a {
    display: flex;
    align-items: center;
    color: #165ef0;
    text-decoration: none;
}
.title a span {
    margin-left: 10px;
}

.cards-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    /* justify-content: space-between; */
    gap: 20px;
    /* margin-top: 20px; */
    /* flex-wrap: wrap; */
    /* height: 169px; */
    width: 100%;
    /* background-color: rgb(126, 79, 18); */
}