
/* Estilos para o botão liga/desliga */
.toggle-button {
    width: 38px;
    height: 24px;
    background-color: #c4c1c177; /* Cor quando desligado */
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-button::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: transform 0.3s;
}

.toggle-button.on {
    background-color: var(--thirdColor); /* Cor quando ligado */
}

.toggle-button.on::after {
    transform: translateX(14px);
}
