
 .games-container  {
    /* background-color: #2d742d; */
    width: 100vw;
    /* padding-left: var(--size); */
    margin: 0 auto;
    min-height: fit-content;
    /* overflow: hidden; */
    /* display: none; */
    max-width: 1400px;
    transition: all 0.3s linear;
}

.games-content{
    width: 94%;
    /* background-color: aqua; */
    margin: 0 auto;
    /* padding: 0px 40px; */
    /* transition: opacity 0.7s ease-in-out; */
    opacity: 0;
    animation: fadeIn 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
        
    }
}