.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #18181a;
    height: 78px;
    width: calc(100% - var(--size));
    max-width: 1400px !important;
    padding: 0px !important;
    /* padding: 0.9%; */
    z-index: 5;
    top: 0;
    right: 0;
    margin: 0px auto !important;
    /* backdrop-filter: blur(5px); */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
    /* transition: all 1s ease-in-out; */
}

.top-menu > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    /* background-color: #d81111; */
    z-index: 3;
    height: 78px;
}

.moveTopMenu {
    transform: translateY(-100%);
}

.dropdown {
    display: block;
    /* margin-left: 10px; */
    border: none !important;
}

.dropdown-toggle {
    font-size: 18px;
    border: none !important;
    color: #8f9197 !important;
    /* margin-top: 0px; */
}

.dropdown-toggle:hover {
   color: white !important;
}

.dropdown-toggle::after {
    margin-left: 10px;
}

.dropdown-menu {
    color: #8f9197 !important;
    background-color: #18181a !important;
    margin-top: 10px !important;
}


.dropdown-menu li a {
    text-align: end;
    color: #8f9197 !important;
    background-color: #18181a !important;

}

.dropdown-menu li a:hover {
    background-color: #8f919723 !important;
}

.top-menu {
    padding-top: var(--topPaddingMenu);
}

.top-menu .external-form {
    display: flex;
    justify-content: start;
    width: 100%;
    /* margin: 0px 50px 0px 0px;     */
}

.top-menu .logo {
    display: none;
    
}

.top-menu .external-form label {
    display: flex;
    align-items: center;

    width: 50%;
    min-width: 150px;
    caret-color: white;
}

.top-menu .external-form label span {
    color: #8f9197;
}

.top-menu .external-form input {
    background-color: var(--elements);
}

.internal-form label input::placeholder {
    color: var(--light-gray) !important;
    /* padding-left: 10px; */
 }

.top-menu-user {
    display: flex;
    color: var(--icon-color);
    height: 58px;
    /* width: 170px; */
    /* background-color: aqua; */
    align-items: center;
    margin: 0px 0px 0px 20px;
}

.online-ball{
    width: 10px;
    height: 10px;
    position: absolute;
    background-color:#00FF00;
    z-index: 2;
    top: 71%;
    right: 7%;
    border-radius: 50%;
}

.top-menu-user figure {
    height: 38px;
    width: 38px;
    margin: 0px;
    position: relative;
    border-radius: 50%;
    /* overflow: hidden; */
    
}

.top-menu-user figure img {
    border-radius: 50%;
    width: 100%;
}

.profile-image-letter{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(145, 145, 145); */
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.profile-image-letter h2{
   margin: 0px;
   font-size: 30px;
   color: white;
   z-index: 2;
}

.top-menu-user p {
    display: flex;
    align-items: center;
    margin-left: 15px !important;

}

.internal-form {
    display: none;
    margin: 5px;
}

.internal-form label {
    padding: 5px;
    display: flex;
    border-radius: 10px;
    background-color: #26272b;
}

.shop-notification-icons-container{
    display: flex;
    width: 90px;
    justify-content: space-between;
}
