

.profile-container{
    background-color: aqua;
    width: 100vw;
    /* height: 100vh; */
}

.content-profile {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
    background-color: blueviolet;
    margin: 0 auto;
    width: 95%;   
    /* overflow: hidden; */
}

.user-info{
    background-color: aquamarine;
}

.bg-profile{
    grid-column: 2 / -1;
    background-color: rgb(228, 127, 60);
}

.content{
    grid-column: 1/ -1;
    background-color: rgb(56, 175, 45);
}