:root {
    --profile-Img-size: 100px
}


.profile-container {
    /* background-color: rgb(243, 252, 122); */
    width: 100%;
    height: 100%;
    position: relative;
    /* display: none; */
    overflow-x: hidden;
}

.content-profile {
    display: grid;
    /* overflow-x: hidden; */
    grid-template-columns: 100%;
    grid-template-rows: 250px;
    /* background-color: rgb(55, 68, 110); */
    margin: 0 auto;
    max-width: 95%;
    gap: 8px;
    /* overflow: hidden; */
    /* height: 250px; */
}

.content-profile>div,
.profileContainer,
.gradiente {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.pop-up-container {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 0px;
    overflow: hidden;
    /* filter: blur(1px); */
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: all ease 0.5s;
}

.pop-up-container .form-header {
    display: flex;
    align-items: center;
    width: 99%;
    /* background-color: rgba(0, 255, 255, 0.123); */
}

.pop-up-container div h5 {
    margin: 0px;
}

.pop-up-container .form-header p,
.infos-text {
    font-size: 12px;
    margin: 0px;
    color: var(--icon-color);
}

.open-popup {
    opacity: 1;
    visibility: visible;
    /* display: block; */
    /* animation: remove 0.5s ease 0.2s; */
    height: 86%;

}

.block {
    display: block;
}

@keyframes remove {
    to {
    }
}

.hidden {
    overflow: hidden;
}

.edit-profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* min-width: 340px; */
    width: 80%;
    height: 90%;
    top: 47%;
    position: absolute;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: var(--Side-menu);
    z-index: 3;
    padding: 40px;
    overflow: hidden;
    border-radius: 20px;
}

.close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.close-icon:hover,
.edit-icon:hover {
    color: var(--thirdColor);
}

.input-profile {
    /* width: fit-content; */
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs-responsiveis {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.inputs-responsiveis label {
    min-width: 300px;
    /* max-width: 300px; */
    width: 40%;
    /* gap: 10px !important; */
    flex-grow: 1;
}


.edit-profile-container button,
label input {
    width: 100%;
    margin-left: 10px;
}


.input-profile span {
    padding-right: 4px;
    border-right: 1px solid var(--icon-color);
    color: var(--icon-color) !important;
}

.textArea-container {
    width: 99%;
    margin: 5px 0px 0px 0px;
}

.bios {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.178);
    color: var(--icon-color);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
}

.textArea-container .infos-text {
    display: block;
    text-align: end;
}

.textArea-container .infos-text span {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.836);
}


.div-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0px;
}

.div-buttons button,
.div-buttons a {
    width: 20%;
    text-decoration: none;
}

.button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.edit-profile-form input:-webkit-autofill,
.edit-profile-form input:-webkit-autofill:hover,
.edit-profile-form input:-webkit-autofill:focus,
.edit-profile-form input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(44, 44, 44) inset !important;
    -webkit-text-fill-color: rgb(168, 168, 168) !important;
    border: none !important;
    outline: none !important;
}

.ColorInput-container {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 99%;
    /* height: 10px;; */
    /* background-color: aquamarine; */
}

.ColorInput-container input {
    width: 38px;
    height: 24px;
    outline: none;
    border: none;
    /* border-radius: 50px; */
    margin-left: 10px;
    overflow: hidden;
    border-radius: 10%;
}


.profileContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1b40d6;
    min-height: 100%;
    /* border-radius: 40px; */
    overflow: hidden;
    /* opacity: 0.7; */
    /* backdrop-filter: blur(0); */
    position: relative;


}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: 2; */
    /* filter: blur(1px); */
    /* background: radial-gradient(circle at center, transparent 0%, #18181a 100%); */
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0.445) 50%, rgb(0, 0, 0) 100%);
}

.profileContainer .bg-image {
    /* transform: translate(-15%, -0%); */
    width: 100%;
    height: 200%;
    border-radius: 20px;
    border: none;
    /* display: none; */
    overflow: hidden;
    /* opacity: 1; */
    /* filter: blur(1px); */
    /* display: none; */
    /* background-color: aqua; */
}

.no-Image {
    width: 100px !important;
    height: 100px !important;
    border-radius: 0px !important;
}

.user-info-content {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    justify-content: center;
    /* height: 50%; */
    /* justify-content: center; */
    position: absolute;
    /* top: 10px; */
    left: 3%;
    z-index: 1;
    /* background-color: rgba(255, 236, 127, 0.295); */
}

.img-and-name-container {
    display: flex;
    align-items: center;
}

.edit-icon {
    position: absolute;
    z-index: 3;
    right: 15px;
    top: 15px;
    cursor: pointer;
    color: var(--icon-color);
}

.user-info-content figure {
    width: var(--profile-Img-size);
    /* margin: 0px auto; */
    height: var(--profile-Img-size);
    /* background-color: rgb(127, 255, 127); */
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 5px;
    /* border: 1px solid #44444467; */
    position: relative;
    /* border: 2px solid white; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-info-content figure img {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.user-info-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 2;
    width: 50%;
    /* height: 70%; */
    padding-left: 20px;
    color: white;
    /* background-color: rgba(127, 255, 212, 0.521); */
}

.profileName {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 38px;
    /* color: ; */
    margin: 0px;
}

.description-bios {
    width: 100%;
    /* background-color: aquamarine; */
    margin: 0px;
    padding: 10px;
    font-size: 14px;
    color: white !important;
}

.user-info-content p {
    color: #e6e7e7;

}

.user-info-content button {
    width: 120px;
}

.games-infos-profile {
    display: none;
    background-color: rgba(127, 255, 155, 0.692);
    grid-column: 1 / -1;
    min-height: 250px;
    margin: 0px;
    /* display: flex; */
    align-items: start;
    justify-content: space-between;

}

.games-infos-profile .card-game-profile {
    width: 350px;
    /* display: none; */
    background-color: var(--elements);
}

.outra2 {
    display: none;
    /* width: 100%; */
    background-color: rgb(189, 63, 228);
    grid-column: 1 / -1;
}