
.grid {
    position: absolute;
    width: 100Vw;
    height: 100%;
    /* background-color: violet; */
    z-index: 10;
    opacity: 0.4;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    /* margin-left: 200px; */
    display: none;
}

.grid div {
    background-color: rgba(127, 255, 212, 0.068);
}


.profile-container {
    /* background-color: rgb(243, 252, 122); */
    width: 100vw;
    /* height: 100vh; */

}

.content-profile {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 250px;
    /* background-color: rgb(55, 68, 110); */
    margin: 0 auto;
    max-width: 95%;
    gap: 8px;
    /* overflow: hidden; */
}

.content-profile>div,
.bg-profile,
.gradiente {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 40px;
}


.bg-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #26272b;
    min-height: 100%;
    /* border-radius: 40px; */
    /* overflow: hidden; */
    /* opacity: 0.7; */
    /* backdrop-filter: blur(0); */
    position: relative;
}

.gradiente{
    position: absolute;
    width: 100%;
    height: 100%;
    /* filter: blur(1px); */
    background: radial-gradient(circle at center, transparent 0%, #18181a 100%);
}

.bg-profile .bg-image {
    /* transform: translate(-15%, -0%); */
    width: 100%;
    height: 100%;
    border-radius: 40px;
    /* opacity: 1; */
    display: none;
    /* background-color: aqua; */
}

.user-info-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* overflow: hidden; */
    /* background-color: aqua; */
    width: 90%;
    justify-content: center;
    /* height: 100%; */
    /* padding: 20px; */
    /* border-radius: 40px; */
    position: absolute;
    z-index: 2;
    /* top: 30px; */
}

.user-info-content figure {
    width: 150px;
    /* margin: 0px auto; */
    height: 150px;
    /* background-color: rgb(127, 255, 127); */
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 5px;
    /* border: 2px solid #00FF00; */
    position: relative;
}

.user-info-content figure .online-ball{
    width: 16px;
    height: 16px;
    position: absolute;
    background-color: #00FF00;
    top: 50%;
    right: 0%;
    z-index: 2;
    /* transform: translate(50%); */
    border-radius: 50%;
}

.user-info-content figure img {
    overflow: hidden;
    /* z-index: 3; */
    /* border-radius: 50%; */
    width: 150%;
    height: 100%;
    transform: translate(-16%, 0%);
    /* background-color: violet; */
}

.user-info-data {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* margin-left: 30px; */
    /* background-color: tomato; */
    flex-grow: 2;
    width: 500px;
    padding-left: 20px;
}

.user-info-content h3 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 50px;
}

.user-info-content p:nth-child(3) {
    font-size: 14px;
    font-weight: 400;
    font-family: 'motivaSans-thin';
    color: #cdcdcf;
}

.user-info-content p:nth-child(4) {
    font-size: 12px;
    font-weight: 400;
    font-family: 'motivaSans-thin';
    color: #cdcdcf;
}

.outra {
    /* width: 100%; */
    background-color: rgba(127, 255, 155, 0.692);
    grid-column: 1 / -1;
}

.outra2 {
    /* width: 100%; */
    background-color: rgb(189, 63, 228);
    grid-column: 1 / -1;
}