body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.animation-block {
    position: absolute;
    display: flex;
    font-family: 'MotivaSans', sans-serif;
    /* background-color: #2970fd; */
    height: 200px;
    /* width: 00px; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.animation-block img {
    width: 100%;
    height: 100%;
    background-color: #18181a;
    padding: 20px;
    overflow: hidden;
    z-index: 3;
}

.animation-block h1 {
    /* overflow-x: hidden; */
    padding: 20px;
    background-color: transparent;
    font-size: 100px;
    font-family: 'motivaSans-Bold';
    margin: 0px;
    transform: translateX(-100%);
    /* transition: transform 0.7s var(--cubic); */
    animation: movSteam 0.5s var(--cubic) forwards;
}


@keyframes movSteam {
    from {
        opacity: 0;
        transform: translateX(-100%);

    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.SignIn-Section {
    position: relative;
    /* background-color: #85a2d8; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 100vh;
    justify-content: end;
    align-items: center;
    /* padding-top: 78px; */
    /* background-image: url('https://cdn.akamai.steamstatic.com/store/home/store_home_share.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw !important;
    opacity: 0;
    /* grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); */
    /* background-image: linear-gradient(180deg, #18181a 0%, #26272b 69%); */
    animation: fadeIn 0.4s var(--cubic) forwards;
    animation-play-state: paused;
}

@keyframes fadeIn {
    fron {
        opacity: 0;
    } to {
        opacity: 1;
    }

}

.adjust-content {
    width: 80%;
    margin: 15px auto;
    border-radius: 15px;
    /* background-color: #3f4045; */
    padding: 15px;
    margin: 0px !important;
    /* height: 100%; */
}

.bg-signUp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100%;
    background-image: url('https://i.redd.it/xf88d9kh6iy51.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.brush{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #44444483; */
    backdrop-filter: blur(2px);
}

.bg-signUp img {
    width: 70%;
    z-index: 2;
}

.infos-SignUp {
    /* height: 100%; */
    width: 90%;
    /* width: 500px; */
    margin: 0 auto;
    /* background-color: #1f63e0; */

}

.infos-SignUp figure {
    width: 90%;
    margin: 20px auto 60px auto;
    /* background-color: #1f63e0; */
}

.infos-SignUp p {
    /* text-align: justify; */
    font-size: 28px;
    /* width: 100%; */
}

.signUp-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #3f4045; */
    padding: 10px;
    border-radius: var(--border-radius);
    width: 100%;
    transition: translate 0.5s var(--cubic);
    margin-right: 0px;
    /* margin: 0 auto !important; */
    overflow: hidden;
    /* max-width: 550px; */
    transform: translateX(120%);
    transition: all 0.4s var(--cubic);
    animation: container-opacity 0.4s 1.2s var(--cubic) 1 forwards;
}


@keyframes container-opacity {
    from {
        transform: translateX(120%);
    }

    to {
        transform: translateX(0%);
    }

}

form {
    display: flex;
    flex-direction: column;

}

.adjust-content h2 {
    font-size: 28px;
}

h2 + a {
    display: flex;
    text-decoration: none;
}

.question {
    color: white;
}

.input-container {
    display: flex;
    gap: 5px;
    /* flex-wrap: wrap; */
}

.input-container span {
    color: var(--light-gray) !important;
    border-right: 1px solid var(--light-gray);
    opacity: 0.5;
    padding-right: 5px;
}

.input-container .input-child {
    padding-left: 55px !important;
}



.align-button {
    padding: 20px 0px;
}

form p a {
    text-decoration: none;
    color: var(--thirdColor);
}


.info-policy {
    font-size: 14px;
    /* font-weight: ; */
    /* margin: 16px !important; */
    margin: 0px;
}
