section {
    min-height: 100vh;

    /* position: relative; */
    /* background-color: bisque; */
}

.main-page {
    display: flex;
    /* background-color: rgb(255, 12, 12); */
}


.side-bar {
    max-width: 250px !important;
}

.content {
    /* background-color: #2d2d74; */
    /* padding-left: 230px; */
    width: 100vw;
    padding-left: var(--size);
    margin: 0 auto;
    min-height: fit-content;
    overflow: hidden;
    /* display: none; */
}
