section {
    min-height: 100vh;

    /* position: relative; */
    /* background-color: bisque; */
}




.side-bar {
    max-width: 250px !important;
}

/* .games-container {
    background-color: aqua;
    overflow: hidden;
} */
