@font-face {
  font-family: "motivaSans-bold";
  src: url('src/font/MotivaSansTest-Black.otf');
}

@font-face {
  font-family: "motivaSans-regular";
  src: url('src/font/MotivaSansTest-Regular.otf');
}

@font-face {
  font-family: "motivaSans-Bold";
  src: url('src/font/MotivaSansTest-Bold.otf');
}
@font-face {
  font-family: "motivaSans-medium";
  src: url('src/font/MotivaSansTest-Medium.otf');
}

:root {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: "MotivaSans" , sans-serif;
  overflow-x: hidden;

  --size: 260px;
  --topPaddingMenu: 10px;
  --border-radius: 40px;

  --transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --cubic: cubic-bezier(0.68, -0.55, 0.27, 1.55);

  --Oficial-body-color: #18181a;
  --Side-menu: #18181a;
  --body-test: #161d25;

  --thirdColor: #165ef0;
  --gray: #e6e6e6;
  --light-gray: #8f9197;
}

html,
body {
  width: 100vw !important;
  height: 100vh !important;
  background-color: var(--Oficial-body-color);
  /* overflow: hidden; */
  align-items: start;
  /* transition: all 0.3s ease-in; */
  font-family: "motivaSans-regular" , sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  /* background-color: aqua; */
}

li a {
  color: black;
  text-decoration: none;
}

.logo {
  width: 15%;
  display: flex;
  align-items: center;
  padding: 0px;
}

.logo h2 {
  padding: 0px !important;
  margin: 0px !important;
  color: #e6e6e6;
  font-size: 24px;
}

.logo img {
  width: 30%;
  height: 30%;
  margin-right: 5px;
}

.blue-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  border: none;
  background-color: var(--thirdColor);
  color: white;
  font-weight: 600;
  margin: 5px 0px;
  padding: 0px !important;
}

.blue-button:hover {
  box-shadow: 0px 0px 20px 5px #007bff60;
  transform: scale(1.01);

}

.internal-blue-bottom {
  bottom: 10px;
  right: 10px;
  width: 40%;
}


.standard-setting {
  width: 100% !important;
  margin-top: 40px;

}

.sizePage {
  width: calc(100vw - 259px);
  margin-left: 259px;
}

.adjust-size {
  /* background-color: #165ef0; */
  width: calc(100vw - 259px);
  padding-top: 88px !important;
  margin-left: 259px;
  min-height: 100vh !important;
  transition: all 0.1s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.menuButton {
  color: white;
  /* position: absolute; */
  /* background-color: #8f9197; */
  padding: 5px;
  border-radius: 50%;
  /* transform: rotateZ(-90deg); */
  user-select: none;
  display: none;
  cursor: pointer;
  left: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #3f4045; */
  padding: 10px;
  /* border-radius: var(--border-radius); */
  width: 100%;
  transition: translate 0.5s var(--cubic);
  /* margin-right: 34px; */
  /* margin: 0 auto !important; */
  overflow: hidden;
  /* max-width: 550px; */
  justify-self: center;
  background-color: var(--Oficial-body-color);
}

.form-container form {
  display: flex;
  flex-direction: column;

}

.form-container h2+a {
  display: flex;
  text-decoration: none;
}


input {
  padding: 10px;
  margin: 10px 0px;
  /* border: 1px solid var(--thirdColor); */
  background-color: rgba(128, 128, 128, 0.178);
  /* border: none; */
  border-bottom: none;
  color: white;
  border-radius: 8px;
  font-size: 18px;
}

input:focus {
  border-bottom: none;
  outline: none;
  border: 2px solid var(--thirdColor);
  /* padding: 8.5px 0px; */
  height: 47px;
}

.align-button {
  padding: 0px;
  margin: 5px 0px;
}

form p a {
  text-decoration: none;
  color: var(--thirdColor);
  margin: 5px 0px;
}


.fadeInEffect {
  font-weight: 600;
  margin-left: 10px;
  animation: pisca 1s linear infinite alternate-reverse;
  filter: drop-shadow(0px 0px 3px #2970fd)
}


@keyframes pisca {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }

}



@media screen and (max-width: 480px) {

  .content,
  .login-section,
  .SignIn-Section {
    width: 100vw;
    /* padding: 78px 0px; */
    margin: 0 auto;
  }

  .form-container {
    width: 100%;
  }
  
    
  .login-section .bg, .bg-signUp{
    display: none;
  }
  
  .adjust-content {
    width: 95%;
    grid-template-columns: 100%;
    padding: 0px;
}

  .adjust-size {
    width: 98vw;
    margin-left: 0px;
    transition: all 0.1s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  .top-menu {
    width: 100%;
    /* background-color: #FFA500; */
    z-index: 4;

  }

  .top-menu .external-form {
    visibility: hidden;
    width: 20%;
  }

  .logo>div {
    justify-content: center;

  }


  .top-menu .logo {
    position: relative;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    /* width: 310px; */
    /* background-color: #165ef0; */
    opacity: 0;
  }

  .top-menu .logo .span-icon-2 {
    position: absolute;
    /* left: 0; */
    top: 6px;
    /* bottom: 0px; */
    right: 157px;
    transform: rotateZ(-90deg);
  }


  .menuButton {
    display: block;
  }

  .span-icon {
    display: block;
    cursor: pointer;
    opacity: 1;
  }

  .top-menu .external-form label {
    opacity: 0;
    visibility: hidden;
    /* display: none; */
  }

  .games-infos {
    border-radius: 0px 0px 40px 40px;
    margin-left: 0px;
  }


  .games-container {
    width: 100%;
    padding-left: 0px;
    background-color: rgba(90, 155, 106, 0);
  }

  .games-infos {
    display: none;
  }

  .main-card-game {
    display: grid;
    grid-template-columns: 100%;
    /* height: 400% ; */
    overflow: hidden;

  }

  .main-card-game figure img {
    height: 400px;
    width: 600px;
    transform: translateX(-150px);

  }

  .games-info-mobile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: white;
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    justify-content: space-around;
    align-items: center;
    bottom: 0px;
    border-radius: 0px 0px 40px 40px;
    height: 50%;
    padding: 10px 10px;
  }

  .miniCards {
    width: 100%;
    margin: 0 auto;
  }

  .SignIn-Section {
    margin-top: 0%;
  }

  .infos-SignUp {
    display: none;
  }

  .animation-block {
    flex-direction: column;
    height: 330px;
    width: 230px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .animation-block h1 {
    font-size: 3em;
  }

  .SignIn-Section {
    justify-content: center;
    /* margin-right: 0px; */
  }

  .signUp-form-container {
    margin-right: 0px;
  }

  .login-section {
    justify-content: center;
  }


}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .top-menu {
    width: 100%;
    /* background-color: #FFA500; */
    justify-content: space-between;
  }

  .top-menu .external-form label {
    margin-left: 4%;
    width: 70%;

  }

  .internal-form {
    display: block;
  }

  .content,
  .login-section,
  .SignIn-Section {
    width: 100vw;
    /* padding: 78px 0px; */
    margin: 0 auto;
  }
  
  .login-section .bg, .bg-signUp{
    display: none;
  }
  
  .form-container {
    width: 100%;
  }
 
  .adjust-size {
    width: 98vw;
    margin-left: 0px;
    transition: all 0.1s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  .games-infos {
    display: none;
  }

  .games-info-mobile {
    width: 100%;
    display: flex;
    color: white;
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    bottom: 0px;
    border-radius: 0px 0px 40px 40px;
    height: 30%;
  }

  .games-container {
    background-color: #165ff000;
    padding-left: 0px;

  }

  .top-menu .logo {
    position: relative;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    /* width: 310px; */
    /* background-color: #165ff02c; */
    opacity: 0;
  }

  .top-menu .logo .span-icon-2 {
    position: absolute;
    /* left: 0; */
    top: 6px;
    /* bottom: 0px; */
    right: 157px;
  }

  .main-card-game {
    display: grid;
    grid-template-columns: 100%;
    /* overflow: hidden; */
    background-color: #165ff000;
  }

  .menuButton {
    display: block;
  }

  .span-icon {
    display: block;
    cursor: pointer;
    opacity: 1;
  }


  .logo>div {
    justify-content: center;

  }

  .animation-block {
    flex-direction: column;
    height: 330px;
    width: 230px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .animation-block h1 {
    font-size: 3em;
  }

  .SignIn-Section {
    justify-content: center;

  }

  .signUp-form-container {
    margin-right: 0px;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 991px) {

  .content,
  .login-section,
  .SignIn-Section {
    width: 100vw;
    /* padding: 78px 0px; */
    margin: 0 auto;
  }

  .adjust-size {
    width: 98vw;
    margin-left: 0px;
    transition: all 0.1s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  .main-card-game {
    display: grid;
    grid-template-columns: 70% 30%;
    overflow: hidden;
    /* background-color: #165ef0; */
  }

  .games-container {
    width: 100%;
    background-color: rgba(0, 255, 255, 0);
    padding-left: 0px;
  }

  .menuButton {
    display: block;
  }

  .span-icon {
    display: block;
    cursor: pointer;
    opacity: 1;
  }

  .top-menu .external-form label {
    margin-left: 4%;

  }

  .logo>div {
    justify-content: center;

  }

  .top-menu {
    width: 100%;
  }

  .animation-block {
    /* flex-direction: column; */
    /* height: 3px; */
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .SignIn-Section {
    justify-content: center;
  }

  .signUp-form-container {
    margin-right: 0px;
  }


}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* .nav-container {
    transform: translateX(85%);
    animation: closeMenu 0.1s ease-in-out forwards;
    animation-play-state: paused;
    display: none;
  } */

  /* .open {
    transform: translateX(85%);
    animation: openMenu 0.1s ease-in-out forwards;
    animation-play-state: running;
  } */

  .span-icon {
    display: block;
    cursor: pointer;
    opacity: 1;
  }

  .main-card-game {
    display: grid;
    grid-template-columns: 70% 30%;
    overflow: hidden;
    /* background-color: #165ef0; */
  }

  .content,
  .login-section,
  .SignIn-Section {
    width: 100vw;
    /* padding: 78px 0px; */
    margin: 0 auto;
  }

  .adjust-size {
    width: 98vw;
    margin-left: 0px;
    transition: all 0.1s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  .games-container {
    width: 100%;
    padding-left: 0px;
    background-color: rgba(31, 228, 228, 0);
  }

  .menuButton {
    display: block;
  }

  .top-menu .external-form {
    align-items: start;
  }

  .top-menu .external-form label {
    margin-left: 50px;
  }

  .logo>div {
    justify-content: center;

  }

  .top-menu {
    width: 100%;
  }

  .adjust-size {
    width: 98.6vw;
    /* margin: 0px auto; */
    transition: all 0.3s linear;

  }

  .SignIn-Section {
    justify-content: center;
  }

  .adjust-content {
    width: 80%;
}

}