
.span-icon {
    color: white;
    padding: 5px;
    border-radius: 50%;
    /* transition: transform 0.3s linear; */
    /* transform: rotateZ(90deg); */
    user-select: none;
    display: none;
    opacity: 0;

}

.nav-container {
    transition: transform 0.3s linear;
}

.nav-container .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 11px 0px 0px 23px;
}

.logo > div {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 20px;
    /* background-color: #165ef0; */
    /* width: 250px; */
}

.logo img {
    width: 30%;
    height: 30%;
    margin-right: 5px;
}

.nav-container .sideBar-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 48px;
    padding: 0px;
    min-height: 300px;
    /* background-color: #18181a00 !important; */
    /* background-color: aquamarine; */
}

.sideBar-ul-bottom {
    min-height: 50px;
    margin: 0px;
    padding: 0px;
}


.nav-container .sideBar-ul li, .sideBar-ul-bottom li {
    width: 100%;
    height: 28px;
}

.icon-title-container{
    display: flex;
    align-items: center;
}

.nav-container .sideBar-ul li .main-link-menu,
.sideBar-ul-bottom .main-link-menu  {
    display: flex;
    align-items: center;
    text-align: start !important;
    /* background-color: blueviolet; */
    width: 100%;
    color: #8f9197 !important;
    font-weight: 600;
    padding-left: 25px;
}
.nav-container .sideBar-ul li #drop-link {
    justify-content: space-between;
}

.nav-container ul li .main-link-menu:hover {
    color: #2970fd;

}

.nav-container ul li .main-link-menu span {
    margin-right: 10px;
    
}

.open {
    /* transform: translajkop´--/]
    teX(0%); */
    animation: openMenu 0.2s ease-in-out forwards;
    /* animation-play-state: paused; */
}

.close {
    animation: closeMenu 0.2s ease-in-out forwards;
    /* display: none; */
    /* animation-play-state: paused; */
}

.fechado {
    display: none;
}


.icon_spin {
    /* animation: spinIcon 0.1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; */
    transition: transform 0.3s linear;
    /* animation-play-state: paused; */
}


.logins-button{
    /* display: flex; */
    margin: 0 auto;
    width: 100%;
    /* background-color: #2970fd; */
    padding: 0px;
   
}

.logins-button li {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.logins-button a{
    display: flex;
    justify-content: center;
    color: var(--gray);
    width: 82%;
        /* font-weight: 600; */
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

@keyframes openMenu {
    from {
        transform: translateX(-110%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes closeMenu {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-110%);
    }
}

@keyframes spinIcon {
    from {
        transform: rotateZ(-90deg);
    }

    to {
        transform: rotateZ(90deg);
    }
}